html{
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
.container {
  width: 1140px;
  margin: o auto;
 
  }
.header a {
color:#fff;
text-decoration: none;
}
.header-navigation {
padding: 20 0;
background-color: #174180;
color:#fff
}

.header-logo {
  float: left;
}

.menu {
margin: 0;
padding: 0;
list-style: none;
font-size: 0;
}

.menu-item {
  display: inline-block;
}

.menu-link {
  text-transform: uppercase;
  padding: 0 15px;
  font-size: 16px;
}

